{%- from "docker-composition/map.jinja" import cfg with context %}

{%- for cname, composition in salt['pillar.get']('docker-composition', {}).iteritems() %}
{%- set cpath = cfg.base + '/compose/' + cname %}

{%- if composition is mapping and composition.get('enabled') and composition.get('type') == ctype %}

{%- if composition.compose is defined %}

{%- block compose scoped %}
{{ cpath }}:
  file.directory:
    - makedirs: True
    - clean: True

{{ cpath }}/docker-compose.yml:
  file.managed:
    # docker-compose cfg is managed in pillar so it is easily overridable
    - contents: |
        {{ composition.compose | yaml(False) | indent(8) }}
    - contents_newline: True
    - makedirs: True
    - require_in:
      - file: {{ cpath }}
{%- endblock compose %}
{%- endif %}

{%- if composition.secret is defined %}
{%- block secret scoped %}
{{ cpath }}/secrets:
  file.directory:
    - makedirs: True
    - clean: true
    - require_in:
      - file: {{ cpath }}
{%- for secret, secretcfg in composition.secret.iteritems() %}
{{ cpath }}/secrets/{{ secret }}:
  file.managed:
{%- if secretcfg.user is defined %}
    - user: {{ secretcfg.user }}
{%- endif %}
{%- if secretcfg.group is defined %}
    - group: {{ secretcfg.group }}
{%- endif %}
{%- if secretcfg.mode is defined %}
    - mode: {{ secretcfg.mode }}
{%- endif %}
{%- if secretcfg.dir_mode is defined %}
    - dir_mode: {{ secretcfg.dir_mode }}
{%- else %}
    - dir_mode: 0755
{%- endif %}
{%- if secretcfg.pillar is defined %}
    - contents_pillar: {{ secretcfg.pillar }}
{%- elif secretcfg.contents is defined  %}
    - contents: |
        {{ secretcfg.contents | indent(8) }}
{%- else %}
    - contents: |
        {{ secretcfg | indent(8) }}
{%- endif %}
    - contents_newline: True
    - makedirs: True
    - require_in:
      - file: {{ cpath }}/secrets
{%- endfor %}
{%- endblock secret %}
{%- endif %}

{%- if composition.directory is defined %}
{%- block directory scoped %}
{%- for dir, dircfg in composition.directory.iteritems() %}
{{ cpath }}/{{ dir }}:
  file.directory:
    - makedirs: True
    - clean: {{ dircfg.get('clean', True) }}
    - require_in:
      - file: {{ cpath }}
{%- if dircfg.yamlfile is defined %}
{%- for yamlfile, yamlfilecfg in dircfg.yamlfile.iteritems() %}
{{ cpath }}/{{ dir }}/{{ yamlfile }}:
  file.managed:
{%- if yamlfilecfg.pillar is defined %}
    - contents_pillar: {{ yamlfilecfg.pillar }}
{%- else %}
    - contents: |
        {{ yamlfilecfg | yaml(False) | indent(8) }}
{%- endif %}
    - contents_newline: True
    - makedirs: True
    - require_in:
      - file: {{ cpath }}/{{ dir }}
{%- endfor %}
{%- endif %}
{%- endfor %}
{%- endblock directory %}
{%- endif %}

{%- block main scoped %}{%- endblock main %}

{%- endif %}
{%- endfor %}
