Source: salt-formula-docker-composition
Maintainer: bruno.binet@helioslite.com
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9), salt-master, python, python-yaml
Standards-Version: 3.9.6
Homepage: https://github.com/bbinet/salt-formula-docker-composition
Vcs-Browser: https://github.com/bbinet/salt-formula-docker-composition
Vcs-Git: https://github.com/bbinet/salt-formula-docker-composition.git

Package: salt-formula-docker-composition
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: docker-composition salt formula
 Install and configure docker-composition system.
